{% extends 'base.html.twig' %}


{% block Pagetitle %}
    Supprimer la sortie {{ outingToCancel.name }}
{% endblock %}

{% block main %}

    {% if app.user %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="block">
        nom de la sortie : {{ outingToCancel.name }}<br>
        Date de la sortie : {{ outingToCancel.startingDateTime|date('d/m/y') }} <br>
        ville organisatrice : {{ outingToCancel.campusOrganizer.campusName}} <br>
        Lieu : {{ outingToCancel.location }}<br>
    </div>
    <div class="form">
        {{ form_start (cancelForm) }}

        {{ form_label (cancelForm) }}
        {{ form_widget (cancelForm) }}
        {{ form_errors (cancelForm) }}

        {{ form_end (cancelForm) }}
    </div>

    {% else %}
        <h2>Vous devez être connecté pour accéder à cette page.</h2>
    {% endif %}


{% endblock %}