{% extends 'base.html.twig' %}

{% block Pagetitle %}
    Sortie "{{ outing.name }}"
{% endblock %}

{% block main %}

    <div class="block1">
        ETAT : {{ outing.state }}<br>
        Nom de la sortie : {{ outing.name }}<br>
        Date et heure de la sortie : {{ outing.startingDateTime|date('d/m/y') }}
        - {{ outing.startingDateTime|date('h:m') }}<br>
        Date limite d'inscription : {{ outing.registrationDeadLine|date('d/m/y') }}<br>
        Nombre de places : {{ outing.maxNumberRegistration }}<br>
        Durée : {{ outing.duration|date('h') }} h {{ outing.duration|date('m') }} min <br>
        Description et infos : {{ outing.outingInfos }}<br>
    </div>

    <div class="block2">
        Ville organisatrice : {{ outing.campusOrganizer }}<br>
        Lieu : {{ outing.location }}<br>
        Rue : {{ outing.location.street }}<br>
        Code postal : {{ outing.location.city.postalCode }}<br>
        Latitude : {{ outing.location.latitude }}<br>
        Longitude : {{ outing.location.longitude }}<br>
    </div>

    <div class="outingpage_userlist">
        <h2>Liste des participants :</h2>

        <table class="tableau_home userlist">

            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>


            {% if outing.participants is empty %}
                <tr>
                    <td colspan="2">
                        <p>Aucun participant</p>
                    </td>
                </tr>

            {% else %}



                    {% for title in outing.participants|batch(2) %}
                        {% for participant in title %}
                            <tr>
                            <td>
                               <a href="{{ url('user_show_organizer', {'id':participant.getId()}) }}"> {{ participant.username }}</a>
                            </td>
                            <td>
                                {{ participant.name }} {{ participant.surname }}
                            </td>
                            </tr>
                        {% endfor %}

                    {% endfor %}

            {% endif %}
        </table>

    </div>
    <br>
    <div class="button">
        <a href="{{ url('main_index') }}">Retour</a>
    </div>

{% endblock %}
