{% extends('./base.html.twig') %}

 {% block Pagetitle %}

 {% endblock %}

 {% block main %}

      <div class="block1">

     <h2>Inscrire un nouvel utilisateur :</h2>

     <div class="form">
         {{ form_start (newUserForm) }}

         <div class="form_groupe">
             {{ form_widget (newUserForm.isActive) }}
             {{ form_label (newUserForm.isActive) }}
             {{ form_errors (newUserForm.isActive) }}
         </div>

         <div class="form_groupe">

             {{ form_label (newUserForm.name) }}
             {{ form_widget (newUserForm.name) }}
             {{ form_errors (newUserForm.name) }}

         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.surname) }}
             {{ form_widget (newUserForm.surname) }}
             {{ form_errors (newUserForm.surname) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.username) }}
             {{ form_widget (newUserForm.username) }}
             {{ form_errors (newUserForm.username) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.password) }}
             {{ form_widget (newUserForm.password) }}
             {{ form_errors (newUserForm.password) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.tel) }}
             {{ form_widget (newUserForm.tel) }}
             {{ form_errors (newUserForm.tel) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.email) }}
             {{ form_widget (newUserForm.email) }}
             {{ form_errors (newUserForm.email) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.campus) }}
             {{ form_widget (newUserForm.campus) }}
             {{ form_errors (newUserForm.campus) }}
         </div>

         <div class="form_groupe">
             {{ form_label (newUserForm.roles) }}
             {{ form_widget (newUserForm.roles) }}
             {{ form_errors (newUserForm.roles) }}
         </div>




         <br>
         <button type="submit">Envoyer !</button>
         {{ form_end (newUserForm) }}

     </div>
     </div>


 {% endblock %}