<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com Groupe 3{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    {% endblock %}



</head>

<body>
<header>
    <div class="header_blockleft">
        <a href="{{ path('main_index') }}" > <img class="logo_header" src="{{ asset("images/logoComplet_invers.png") }}" alt="logo" title="logo Sortir.com"></a>

        {# ********************************************* #}
        <h1>
            {# Titre optionnel du site ici (en remplacement du logo si besoin) #}
        </h1>
        {# ********************************************* #}
    </div>

    <div>
        {% if app.user %}
            <div class="login_logout_msg">
                Bonjour {{ app.user.username }} vous êtes connecté ! <br>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>

    </div>

    {# Creation du bouton menu déroulant pour small devices - responsive website #}

    <div class="open-btn">
    <div class="open-btn-bar"></div>
    <div class="open-btn-bar open-btn-bar-middle"></div>
    <div class="open-btn-bar"></div>
    </div>
    {# *************************************************************************** #}

    <nav>
        <ul class="navbar_classic">
                <li><a href="{{ url('main_index') }}">Accueil</a></li>
                <li><a href="{{ url('create_outing') }}">Ajouter une sortie</a></li>
                <li><a href="{{ url('user_my_profile') }}">Mon profil</a></li>
            {% if is_granted ('ROLE_ADMIN') %}
                <li><a href="{{ url('admin_users_list') }}">Participants</a></li>
                <li><a href="{{ url('admin_cities') }}">Villes</a></li>
                <li><a href="{{ url('admin_campus') }}">Campus</a></li>
            {% endif %}

        </ul>


        <ul class="navbar_responsive">
            <div class="close-btn">
            <div class="close-btn-bar close-btn-bar-rotate"></div>
            <div class="close-btn-bar"></div>
            </div>
            <li><a href="{{ url('main_index') }}">Accueil</a></li>
            <li><a href="{{ url('create_outing') }}">Ajouter une sortie</a></li>
            <li><a href="{{ url('user_my_profile') }}">Mon profil</a></li>
            {% if is_granted ('ROLE_ADMIN') %}
                <li><a href="{{ url('admin_users_list') }}">Participants</a></li>
                <li><a href="{{ url('admin_cities') }}">Villes</a></li>
                <li><a href="{{ url('admin_campus') }}">Campus</a></li>
            {% endif %}
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        </ul>
    </nav>
    {% endif %}
</header>
{# ********************************************* #}
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}


    <h2>
        {% block Pagetitle %}
            {# Titre de la page ici #}
        {% endblock %}
    </h2>

    {% block main %}
        {# Corps de la page ici #}
    {% endblock %}
</main>
{# ********************************************* #}
<footer>
    <p>&copy; Sortir.com 2021</p>
    <p>
        By Pupush Team (
        <a href="https://github.com/julietteVarga/ProjetPHPGroupe3.git" > lien github</a>)
    </p>
    <p>
        <ul>
        <li>Juliette Varga</li>
        <li>Antoine Le Tallec</li>
        <li>Emilie Giré</li>
    </ul>
    </p>
</footer>

{% block javascripts %}
    <script src="{{ asset("js/jquery-3.5.1.js") }}"></script>
    <script src="{{ asset("js/script.js") }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $( function() {
            $( "#datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
        } );
    </script>
{% endblock %}

</body>

</html>
