<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com Groupe 3{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Chango&family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
<header>
    <div class="header_blockleft">
        <img src="{{ asset("images/bucketList1.png") }}" alt="logo" title="logo Sortir.com">

        {# ********************************************* #}
        <h1>
            Sortir.com<br>
        </h1>
        {# ********************************************* #}
    </div>

    <div>
        {% if app.user %}
            <div class="login_logout_msg">
                Bonjour {{ app.user.username }} vous êtes connecté ! <a href="{{ path('app_logout') }}">Logout</a>
            </div>

    </div>

    <nav>
        <ul>
                <li><a href="{{ url('main_index') }}">Accueil</a></li>
                <li><a href="{{ url('create_outing') }}">Ajouter une sortie</a></li>
                <li><a href="{{ url('user_my_profile') }}">Mon profil</a></li>
            {% if is_granted ('ROLE_ADMIN') %}
                <li><a href="{{ url('admin_users_list') }}">Participants</a></li>
                <li><a href="{{ url('admin_cities') }}">Villes</a></li>
                <li><a href="{{ url('admin_campus') }}">Campus</a></li>
            {% endif %}

        </ul>

    </nav>
    {% endif %}

</header>

{# ********************************************* #}
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}


    <h2>
        {% block Pagetitle %}
            {# Titre de la page ici #}
        {% endblock %}
    </h2>

    {% block main %}
        {# Corps de la page ici #}
    {% endblock %}
</main>
{# ********************************************* #}

<footer>
    <p>&copy; Sortir.com 2021</p>
    <p>
        By Awesome Group 3 (
        <a href="https://github.com/julietteVarga/ProjetPHPGroupe3.git" > lien github</a>)
    </p>
    <p>
        <ul>
        <li>Juliette Varga</li>
        <li>Antoine Le Tallec</li>
        <li>Emilie Giré</li>
    </ul>
    </p>
</footer>

</body>

</html>
