{% extends('./base.html.twig') %}

 {% block Pagetitle %}
    <div class="hometitle">
        Date du jour : {{ "now"|date("d/m/y") }}<br>
        Participant(e) : {{ app.user.name }} {{ app.user.surname }}
    </div>
 {% endblock %}

 {% block main %}

     <div class="form">
         {{ form_start(form) }}
         <div class="form_groupe">
             {{ form_label(form.q) }}
             {{ form_widget(form.q) }}
             {{ form_errors(form.q) }}
         </div>

         <div class="form_groupe">
             {{ form_label(form.campus) }}
             {{ form_widget(form.campus) }}
             {{ form_errors(form.campus) }}
         </div>

         <div class="form_groupe">
             {{ form_label(form.mindate) }}
             {{ form_widget(form.mindate) }}
             {{ form_errors(form.mindate) }}
         </div>


         <div class="form_groupe">
             {{ form_label(form.maxdate) }}
             {{ form_widget(form.maxdate) }}
             {{ form_errors(form.maxdate) }}
         </div>

         <button type="submit" class="button">Filtrer</button>

         {{ form_end(form) }}



     </div>

     <div class="listOuting">

         {% for outing in filterOutings %}
                {{ outing.name }}<br>
         {% endfor %}


     </div>


{#
         <table class="tableau_home">
             <tr>
                 <th>Nom de la sortie</th>
                 <th>Date de la sortie</th>
                 <th>Clotûre des inscriptions</th>
                 <th>Inscrits/places</th>
                 <th>Etat</th>
                 <th>Inscrit</th>
                 <th>Organisateur</th>
                 <th>Actions</th>
             </tr>
             {% for title in allOutings|batch(8) %}
                 <tr>
                     {% for outing in title %}
                         <td>{{ outing.name }}</td>
                         <td>{{ outing.startingDateTime|date("d/m/y") }}</td>
                         <td>{{ outing.registrationDeadLine|date("d/m/y") }}</td>
                         <td>{{ outing.participants|length }}/{{ outing.maxNumberRegistration }}</td>
                         <td>{{ outing.state }}</td>
                         <td>//TODO : inscrit bool oui ou non app.user</td>
                         <td><a href="{{ url('user_show_organizer', {'id':outing.getOrganizer().getId()}) }}">{{ outing.organizer.username }}</a>


                         </td>
                         <td> #}
                             {# TODO :: gérer l'affichage des liens en fonction des inscriptions de l'utilisateur !! et de son statut organisateur ou non #}
{#
                             {% if outing.state == 'En création' %}
                                {% if app.user == outing.organizer %}
                                 <a href="#">Modifier</a> - <a href="#">Publier</a>
                                    {% else %}
                                    <p> Sortie en création<br>Aucune action possible</p>
                                {% endif %}

                             {% endif %}

                             {% if outing.state == 'Ouverte' %}
                             <a href="{{ url('outing_show', {'id':outing.getId()}) }}">Afficher</a> -
                                 {% if app.user in outing.participants %}
                                     <a href="{{ url('user_sign_out_outing', {'id':outing.getId()}) }}">Se désinscrire</a>
                                 {% else %}
                                        <a href="{{ url('user_sign_up_outing', {'id':outing.getId()}) }}">S'inscrire</a>
                                 {% endif %}
                             {% endif %}

                             {% if outing.state == 'Clôturée' %}
                             <a href="#">Afficher</a> - <a href="#">Se désister</a>
                             {% endif %}

                             {% if outing.state == 'En cours' %}
                                 <a href="#">Afficher</a>
                             {% endif %}

                             {% if outing.state == 'Annulée' %}
                             <p>Annulée</p>
                             {% endif %}

                         </td>

                     </tr>
                     {% endfor %}

             {% endfor %}
         </table>
#}

 {% endblock %}
